<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner" style="text-align:center;font-size:1rem;">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <a href="http://www.beian.miit.gov.cn/publish/query/indexFirst.action" style="color:white;">黔ICP备14004365号-2</a>
    </div>
  </div>
</footer>